@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background-color: #1f242d;
}
.container {
  max-width: 1400px;
  margin: auto;
}



.container .offcanves {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 0;
  overflow: hidden;
}
.container .offcanves li {
  width: 100%;
  text-align: center;
  display: block;
  list-style: none;
}
.container .offcanves li a {
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  transition: all 0.3s;
  background-color: #00aaff;
  text-decoration: none;
  color: #fff;
  border-bottom: 2px solid #fff;
}
.container .offcanves li:hover a {
  background-color: #fff;
  color: #00aaff;
}
.show {
  height: 225px !important;
  transition: all 0.3s;
}



.container .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  animation: nav-anim 0.5s forwards linear;
  animation-delay: 1.5s;
}
@keyframes nav-anim {
  100% {
    visibility: visible;
    opacity: 100%;
  }
}
.navbar .logo {
  flex: 1 1 100%;
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  color: #fff;
}
.container .navbar .logo-menu {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}



.container .navbar .extend {
  display: none;
  flex: 1 1 100%;
  justify-content: flex-end;
}
.container .navbar .extend li {
  list-style: none;
  padding: 10px 20px;
  font-size: 25px;
}
.container .navbar .extend li a {
  position: relative;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}
.container .navbar .extend li a:hover {
  color: #00aaff;
}
.container .navbar .extend li a::before {
  content: "";
  position: absolute;
  bottom: -7px;
  width: 0%;
  height: 3px;
  background-color: #00aaff;
  transition: all 0.3s;
}
.container .navbar .extend li a:hover::before {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .extend {
    display: flex !important;
  }
  .container .navbar .logo-menu {
    display: none;
  }
}

.section-home {
    display: flex;
    align-items: center;
    justify-content: center;
  color: #fff;
  visibility: hidden;
  opacity: 0%;
  animation: content-anim 0.7s forwards ease-in;
  animation-delay: 2s;
}
@keyframes content-anim {
  100% {
    visibility: visible;
    opacity: 100%;
  }
}
.row {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 100%;
}

.section-home .row .col h1 {
  color: #00aaff;
  font-size: 36px;
  margin-bottom: -4px;
  white-space: nowrap;
}
.section-home .row .col .divider {
  display: inline-block;
  width: 70%;
  height: 3px;
  background-color: #fff;
  margin: 15px 0 20px;
}
.section-home .row .col p {
  text-align: justify;
}



.home-info .info h2 span {
  letter-spacing: 4px;
  margin-left: 10px;
  position: relative;
  display: inline-block;
  color: transparent;
  -webkit-text-stroke: .7px #00aaff;
  animation: display-text-anim 16s linear infinite;
  animation-delay: calc(-4s * var(--i));
}
@keyframes display-text-anim {
  25%,
  100% {
    display: none;
  }
}
.home-info .info h2 span::before {
  content: attr(data-text);
  position: absolute;
  white-space: nowrap;
  width: 0%;
  overflow: hidden;
  color: #00aaff;
  border-right: 2px solid #00aaff;
  animation: text-anim 4s linear infinite;
}
@keyframes text-anim {
  10%,
  100% {
    width: 0%;
  }
  25%,
  90% {
    width: 100%;
  }
}




.home-info {
  display: flex;
  flex-direction: column;
}
.home-info .info {
  flex: 1 1 100%;
}
.home-info .home-btn {
  flex: 1 1 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 0 4rem;
}
.home-info .home-btn a {
  text-decoration: none;
  color: #fff;
}
.home-info .home-btn .btn {
  padding: 7px 20px;
  color: #1f242d;
  font-size: 15px;
  font-weight: 450;
  background-color: #00aaff;
  border-radius: 20px;
  box-shadow: 0 0 10px #00aaff;
  transition: all 0.3s;
  white-space: nowrap;
}
.home-info .home-btn .btn:hover {
  background-color: #1f242d;
  color: #00aaff;
}
.home-info .home-btn .btn-social a i {
  font-size: 20px;
  color: #00aaff;
  margin-left: 10px;
  border: 2px solid #00aaff;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 10px #00aaff;
}
.home-info .home-btn .btn-social a i:hover {
  background-color: #00aaff;
  color: #1f242d;
}



.col .img-home {
  position: relative;
  width: 60vw;
  height: 60vw;
  border-radius: 50%;
  margin: 30px 0;
  padding: 7px;
}
.col .img-home::before,
.col .img-home::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(transparent, transparent, transparent, #00aaff);
  z-index: 0;
  border-radius: 50%;
  animation: rotate 7s infinite linear;
}
.col .img-home::after {
  background: conic-gradient(#00aaff, transparent, transparent, transparent);
  animation: rotate2 7s infinite linear;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate2 {
  100% {
    transform: rotate(-360deg);
  }
}
.col .img-home .img {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("./images/picture.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 1;
}



.bar-animation {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background-color: #fff;
  z-index: -1;
}
@keyframes move-anim {
  100% {
    background-color: #1f242d;
  }
}
.bar-animation .bar {
  transform: translateY(-100%);
  background-color: #1f242d;
  flex: 1 1 100%;
  height: 100vh;
  animation: bar-anim 0.5s forwards linear;
  animation-delay: calc(0.2s * var(--i));
}
@keyframes bar-anim {
  100% {
    transform: translateY(0%);
  }
}



@media screen and (min-width: 768px) {
  .section-home {
    margin-top: 3rem;
  }
  .section-home .row .col h1 {
    font-size: 50px;
  }
  .section-home .row .col h2 {
    font-size: 40px;
  }
  .col .img-home {
    width: 50vw;
    height: 50vw;
  }
}
@media screen and (min-width: 992px) {
  .section-home {
    margin-top: 5rem;
  }
  .col .img-home {
    width: 30vw;
    height: 30vw;
  }
  .row {
    flex-wrap: nowrap;
  }
  .section-home .home-info p {
    font-size: 23px;
  }
  .home-info .home-btn .btn {
    font-size: 23px;
  }
  .home-info .home-btn .btn-social a i {
    font-size: 30px;
  }
}
@media screen and (min-width : 1600px ) {
  .col .img-home {
    margin-left: 30px;
    width: 25vw;
    height: 25vw;
  }
}